<%- include("header") -%>

<h2>This is a about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam obcaecati aut sequi, ad officiis, quasi deleniti, eveniet numquam nemo rem excepturi voluptate laborum nihil placeat unde optio enim sit! Aspernatur.</p>

<%- include("footer") -%>